
.navbar-default .navbar-brand, .navbar, .navbar-header {
background:linear-gradient(#383838,#282828);
color:#1db954;
}
.overflow{
   background-color:#282828;
}
.well {
   background-color:#282828;
   outline-color: #282828;
   color:white;
}
.irs-bar {
   background-color:#1e90ff;
}
body {
   font-family: 'Nunito', sans-serif;
   color:white;
   background:linear-gradient(#383838, #282828);
}
h1 {
  color:#1db954;
  font-family:"helvetica";
  font-weight:bold;
  font-size:27px;
}
h2 {
  color:#FFFFFF;
  font-family:"Nunito";
  font-style:italic;
  font-size:20px;
}
h3 {
  color:white;
  font-family:"Nunito";
  font-size:35px;
}
h4 {
  color:#1db954;
  font-family:"helvetica";
  font-weight:bold;
  font-size:30px;
  padding-left:10px
}
