
.navbar {
background-color:#282828;
color:#1e90ff;
}
.well {
   background-color:#282828;
   outline-color: #282828;
}
.irs-bar {
   background-color:#1e90ff;
}
body {
   font-family: 'Nunito', sans-serif;
   color:#1e90ff;
   background-color:#383838;
}
bodydark {
   color:#383838;
}
h1 {
  color:#1db954;
  font-family:"helvetica";
  font-weight:bold;
  font-size:35px;
}
h2 {
  color:#FFFFFF;
  font-family:"Nunito";
  font-style:italic;
  font-size:20px;
}
h3 {
  color:#1e90ff;
  font-family:"Nunito";
  font-weight:bold;
  font-size:35px;
}
h4 {
  color: white;
  font-family:"Nunito";
  font-style:italic;
  font-size:20px;
}

