font-face {
    font-family: Helvetica-Neue;
    src: url(HelveticaNeue.ttc);
}
.navbar {
background-color:#282828;
}
body {
   font-family: 'Helvetica-Neue';
   color:white;
   background-color:#383838;
}
h1 {
  color:#ff4757;
  font-family:'Helvetica-Neue';
  font-weight:bold;
  font-size:35px;
}
h2 {
  color:#ff6b81;
  font-family:'Helvectica-Neue';
  font-style:italic;
  font-size:20px;
}
h3 {
  color:#1e90ff;
  font-family:'Helvectica-Neue';
  font-weight:bold;
  font-size:35px;
}
h4 {
  color:#70a1ff;
  font-family:'Helvectica-Neue';
  font-style:italic;
  font-size:20px;
}

